# Sample TOML configuration file for Token service

# =============================================================================
# Server options
# =============================================================================
[server.grpc]
port = 9090

[server.grpc.tls]
# Enable or disable TLS
enabled = false

[server.http]
port = 8080

# =============================================================================
# Postgres master options
# =============================================================================
[postgres.master]

# хост Postgres
host = "localhost"

# порт Postgres
port = 5432

# пользователь Postgres
user = "postgres"

# пароль Postgres
password = "postgres"

# база Postgres
database_name = "postgres"

# поддержка SSL Postgres
secure = "disable"

# максимальное кол-во конекшенов pool
max_conns_pool = 5

# =============================================================================
# Postgres replica options
# =============================================================================
[postgres.replica]

# хост Postgres
host = "localhost"

# порт Postgres
port = 5432

# пользователь Postgres
user = "postgres"

# пароль Postgres
password = "postgres"

# база Postgres
database_name = "postgres"

# поддержка SSL Postgres
secure = "disable"

# максимальное кол-во конекшенов pool
max_conns_pool = 5

# =============================================================================
# Logger options
# =============================================================================
[logger]

# уровень логирования. возможные значения: emerg, alert, crit, err, warning, notice, info, debug
level = "debug"

# формат даты в логах. Подробнее про форматы дат в go: https://golang.org/src/time/format.go
time_format = "2006-01-02T15:04:05.999999999"

# =============================================================================
# Tracer options
# =============================================================================
[tracer]

# хост трасировщика
host="127.0.0.1"

# порт трасировщика
port=5775

# =============================================================================
# GRPC options
# =============================================================================
[grpc.tls]

# Enable or disable TLS
enabled = false

# =============================================================================
# nats options
# =============================================================================
[nats]

host = "localhost"
port = 4222
